body {
	background-color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #555;
	margin-top: 70px;
}

h1, h2, h3, h4 ,h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333;
}

p{
	line-height: 25px;
	
}

.Home {
	color: #f85c37
}

a:hover, a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

pre {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #ccc; 
}

pre a {
	color: #555;
}

pre a:hover, a:focus {
	color: black;
	text-decoration: none;
}

.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse {
	background: #2d2d2d;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #2d2d2d;
	border-style: none;
	box-shadow: none;
}

.navbar-inverse .navbar-nav > .active > a {
	background-color: #ff7878;
}


.navbar-inverse .navbar-brand {
	color: #999;
	font-weight: bolder;
	font-size: 22px;
	padding-top: 1px;
}

.navbar-inverse .fa-phone {
	color: black;
	font-weight: bolder;
	font-size: 15px;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 7px;
}


.w a {
	color: #555;
	text-decoration: none;
	outline: 0;
}
.w h4 {
	font-size: 25px;
}
.w i {
	font-size: 30px;
}
.w li {
	margin-right: 50px;
	 list-style-type:none;
}
.w ul {
	margin-bottom: 20px;
}
.wn {
	padding-top: 35px;
}
.wn h1 {
	font-size: 30px;
}
.wn a {
	color: #555;
	text-decoration: none;
	outline: 0;
}
.wn h4 {
	font-size: 25px;
}
.wn i {
	font-size: 30px;
}
.wn li {
	margin-right: 50px;
}
.wn ul {
	margin-bottom: 20px;
}

#con {
	background: #ebebeb;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	border-bottom: 5px solid #555
}


#con h1 {
	font-size: 30px;
	margin-bottom: 20px;
}

.tilt img {
	width: 100%;
	height: 100%;
	box-shadow: 8px 8px rgba(122,122,122,0.5);
}

.tilt p {
	font-size: 20px;
}

.wb {
	padding-top: 15px;
	margin-bottom: 15px;
}

.wb h4 {
	font-size: 40px;
}

.wb p {
	font-size: 19px;
}

.wb img {
	box-shadow: 0 0 5px 2px rgba(0,0,100,0.5);
	width: 100%;
	height: 450px;
}
.wc {
	padding-top: 35px;
	margin-bottom: 0;
}
.wc h2 {
	font-size: 19px;
}
.wc h1 {
	font-size: 30px;
}
#lg {
	background: #ebebeb;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
#lg h2 {
	font-size: 30px;
	padding-bottom: 15px;
}
#lg p{
	margin-top: 5px;
	margin-bottom: 5px;
}
#lg1 {
	background: #ebebeb;
	padding-top: 70px;
	text-align: center;
}

#lg1 h4 {
	font-size: 35px;
	padding-bottom: 15px;
}
#lg1 p{
	margin-top: 5px;
	margin-bottom: 5px;
}
#lg2 {
	background: #ebebeb;
	padding-top: 70px;
	text-align: center;
}

#lg2 h4 {
	font-size: 35px;
	padding-bottom: 15px;
}
#lg2 p{
	margin-top: 5px;
	margin-bottom: 5px;
}
#r {
	background: #ff7878;
	padding-top: 30px;
	padding-bottom: 30px;
}

#r h4 {
	color: white;
	font-size: 28px;
}

#r p {
	color: white;
	font-size: 20px;
}

#f {
	background: #2d2d2d;
	padding-top: 20px;
	padding-bottom: 20px;
}

#f i {
	color: #bdbdbd;
	font-size: 30px;
	padding: 20px;
}

#f i:hover {
	color: #ff7878;
}

.mail {
	font-size: 20px;
}
#massege {
	background: #ebebeb;
	padding-top: 50px;
	padding-bottom: 30px;
	text-align: right;
	min-height: 570px;
}

#massege h1 h2 {
	font-size: 35px;
}
#massege p{
	margin-top: 0px;
	margin-bottom: 0px;
}
#massege a{
text-decoration:none;
font-size: 20px;
color: #555;
}

#massege a:hover, a:focus {
	color: black;
	text-decoration: none;
}
.form-horizontal {
	max-width: 625px;
}
.item img {
	width: 100%;
	height: 427px;
}
.didovica {
	padding-top: 18px;
}
.geroev {
	padding-top: 18px;
}
.carousel {
	box-shadow: 0 0 5px 2px rgba(0,0,100,0.5);
}
.rabotu {
	list-style-type: none;
	text-align: right;
	font-size: 19px;
}
.rabotu2 {
	list-style-type: none;
	text-align: left;
	margin-left: 60px;
	font-size: 19px;
}
@media screen and (max-width: 1200px) {
    .rabotu {
	list-style-type: none;
	padding-left: 60px;
	text-align: right;
	font-size: 19px;}
	.rabotu2 {
	list-style-type: none;
	margin-left: 60px;
	font-size: 19px;
	text-align: left;}
	
	.wn ul {
	margin: 0px;
	padding: 0px;
	}
	.wn li {
		margin-right: 0px;
		padding-left: 0px;
	}
	
	.form-horizontal {
	max-width: 100%;}
	#con {
	padding-top: 30px;
	padding-bottom: 30px;}
	#con p {
	margin-top: 5px;
	margin-bottom: 5px;}
	#con h1 {
		font-size: 30px;}
	#lg {
	background: #ebebeb;
	padding-top: 0px;
	padding-bottom: 0px;}

	#lg h2 {
		font-size: 30px;
		padding-bottom: 0px;
	}
	#lg p{
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.w ul {
	margin: 0px;
	padding: 0px;
	}
	.w li {
	margin-right: 0px;
	list-style-type:none;
	}

	.w ul {
		margin-bottom: 0px;
	}

	}

@media screen and (max-width: 990px) {
	#price .row {
		width: 83%;
	}	 
	.price1 {
		height: 210px;
	}
	.price2 {
		height: 245px;
	}
}
@media screen and (max-width: 768px) {
	.rabotu2 {
		text-align: center;
		padding-left: 0px;
		margin-right: 0px;
	}
	.rabotu	{
		text-align: center;
		padding-left: 0px;
		margin-right: 0px;
	}
	.wn li {
		margin-right: 0px;
		margin-left: 0px;
	}
}
@media screen and (max-width: 414px) {
	
	h2, p {
		margin-left: 15px;
		
	}
	#massege h1, h2, p {
		margin-left: 0px;
		
	}
	#con h1 {
		margin-left: 0px;
		
	}
	.wc h1, h2, {
		margin-left: 0px;
	}

	.atention p {
		margin-left: 15px;
		margin-right: 15px;

	}
	.centered {
		text-align: left;
	}
	.rabotu2 {
		text-align: left;
		padding-left: 0px;
		margin-right: 0px;
	}
	.rabotu	{
		text-align: left;
		padding-left: 0px;
		margin-right: 0px;
	}
	.wn li {
		margin-right: 0px;
		margin-left: 0px;
	}
	 
}
.row {
	margin-right: auto;
	margin-left: auto;
}
.golos {
	padding-top: 105px;
}
.golos h3 {
	padding-bottom: 18px;
}
#price h3 {
	font-size: 19px;
	padding: 20px;
	color: #333;
	border-bottom: 1px solid #333;
}
.price1 {
	background-color: #ff7878;
	height: 250px;
	box-shadow: 0 0 5px 2px rgba(0,0,100,0.5);
}
.price2 {
	background-color: #ff7878;
	height: 350px;
	box-shadow: 0 0 5px 2px rgba(0,0,100,0.5);
}
#price h5 {
	font-size: 35px;
	padding-top: 50px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: bold;
	color: #f2f2f2;
}
#price h4 {
	font-size: 35px;
	padding-top: 10px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: bold;
	color: #f2f2f2;
}
.calc {
	padding-bottom: 35px;
}
.atention {
	    border-bottom: 5px solid #555;
	    padding-bottom: 60px;
}
#didovica {
	margin-top: -25px;
}
.pad {
	padding-top: 15px;
	padding-bottom: 15px;
}

