
body {
	background-color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #555;
	margin-top: 70px;
}

h1, h2, h3, h4 ,h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333;
}

p{
	line-height: 28px;
	margin-bottom: 25px;
}

.centered {
	text-align: center;
}

.Home {
	color: #f85c37
}

a:hover, a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

pre {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #ccc; 
}

pre a {
	color: #555;
}

pre a:hover, a:focus {
	color: black;
	text-decoration: none;
}

.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse {
	background: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
	background-color: #ff7878;
}
.navbar-header a pre {
	margin-top: 10px;
}

.navbar-inverse .navbar-brand {
	color: #999;
	font-weight: bolder;
	font-size: 22px;
}

.navbar-inverse .fa-phone {
	color: black;
	font-weight: bolder;
	font-size: 15px;
	padding-top: 2px;
	padding-bottom: 2px
}

#headerwrap {
	background: url(../photo/main_photo.jpg) top;
	padding-top: 20px;
	text-align: center;
	background-position: center center;
	min-height: 550px;
	width: 100%;

	background-size: 100%;

	background-size: cover;
}

#headerwrap h1 {
	margin-top: 100px;
	color: white;
	font-size: 4vw;
	font-weight: 300;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white; 
	font-size: 2vw;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.w {
	padding-top: 35px;
}
.w h4 {
	font-size: 25px;
}
.w i {
	font-size: 30px;
}
.w li {
	margin-right: 30px;
}

#dg {
	background: #ebebeb;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#dg h4 {
	font-size: 30px;
}

#dg p {
	margin-top: 20px;
	margin-bottom: 20px;
}
.tilt img {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 5px 2px rgba(0,0,100,0.5);
}
@media screen and (max-width: 1200px) {
    .tilt img {
	width: 65%;
	box-shadow: 0 0 5px 2px rgba(0,0,100,0.5);}
}

.tilt p {
	font-size: 20px;
}

.wb {
	padding-top: 35px;
	margin-bottom: 0;
}

.wb h4 {
	font-size: 30px;
}

.wb p {
	font-size: 20px;
}

.wb img {
	box-shadow: 0 0 5px 2px rgba(0,0,100,0.5);
	height: 500px;
}

#lg {
	background: #ebebeb;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#lg h4 {
	font-size: 30px;
	padding-bottom: 15px;
}

#lg img {
	width: 140px;
	height: 120px;
}
#r {
	background: #ff7878;
	padding-top: 70px;
	padding-bottom: 70px;
}

#r h4 {
	color: white;
	font-size: 28px;
}

#r p {
	color: white;
	font-size: 20px;
}

#f {
	background: #2d2d2d;
	padding-top: 30px;
	padding-bottom: 20px;
}

#f i {
	color: #bdbdbd;
	font-size: 30px;
	padding: 20px;
}

#f i:hover {
	color: #ff7878;
}

.mail {
	font-size: 20px;
}
.plan { background: url(../photo/plan.jpg) no-repeat center;
	min-height: 770px;
	width: 100%;
}
.pad {
	padding-bottom: 30px;
}
